* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family:'Lucida Sans';
    align-items: center;
    justify-self: center;
    flex-direction: column;
    overflow: hidden;
    margin: 10%;
}

h1 {
    font-size: 60px;
    color: #000;
}